<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Air Ticket Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>

    <div id="header"></div>

    <section class="about-us-section">
        <h2>About Us</h2>
        <p>
            Welcome to The Fury Of Global News! We are dedicated to provide the truth happenning in our global level . We Say Truth We Show Truth We Trust the Truth.
        </p>
        <p>
           The Fury Of Global News is dedicated to providing you with a curated feed of the most important, relevant, and interesting news stories from around the globe. We believe that everyone deserves access to reliable, unbiased information that empowers them to make informed decisions.
        </p>
        <img src="./assets/img/aboutus.jpg" alt="About Us Image" class="about-us-image">
    </section>

    <div id="footer"></div>

    <script src="./assets/js/script.js"></script>
</body>
</html>
