doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Subscription Success
    link(rel="stylesheet" href="/assets/css/subStyles.css")
    link(rel="stylesheet" href="/assets/css/styles.css")
  
  body
    #header

    .success-container
      .success-icon ✔
      h1 Registration Successful!
      p Thank you for Register! please Login with your account to continue: 
        strong #{username}
      p.offer-text A confirmation email has been sent.
      a.subscribe-btn(href="/login.html") Login
    
    #footer

    script(src="/assets/js/script.js")