<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - News Aggregator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>

    <div id="header"></div>

    <section class="services-section">
        <h2>Our Services</h2>
        <div class="services-container">
            <div class="service-item">
                <i class="fas fa-newspaper"></i>
                <h3>Any type of news in one platform</h3>
                <p>You can read any type of news in our plotform the world news is on your device.</p>
            </div>
            <div class="service-item">
                <i class="fas fa-bolt"></i>
                <h3>Breaking News</h3>
                <p>We are always faster to update the news up to date and up to time.</p>
            </div>
            <div class="service-item">
                <i class="fas fa-headset"></i>
                <h3>24/7 Support</h3>
                <p>We provide 24/7 customer support to assist you with any questions or concerns.</p>
            </div>
        </div>
    </section>

    <div id="footer"></div>

    <script src="./assets/js/script.js"></script>
</body>
</html>
